.container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.appTitle{
    font-size: 1.4em;
}

.copyright{
    font-size:0.65em;
    margin-bottom: -40px;
}

.pageContainer{
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
}