<div class="pageContainer">
    <mat-card class="toolsContainer mat-elevation-z8" style="min-width: 200px">
        <form [formGroup]="toolForm">
                <div style="display: flex; flex-direction: row;">
                        <mat-form-field style="margin-left:10px; margin-right: 10px; width:75px">
                                <input type="number" matInput formControlName="rows" placeholder="Rows" autocomplete="off">
                                <mat-error *ngIf="toolForm.controls['rows'].invalid">
                                        Required value between 3 to {{MAX_ROWS}}
                                </mat-error>
                        </mat-form-field>
                        <mat-form-field style="margin-left:10px; margin-right: 10px; width:75px">
                                <input type="number" matInput formControlName="cols" placeholder="Columns" autocomplete="off">
                                <mat-error *ngIf="toolForm.controls['cols'].invalid">
                                        Required value between 3 to {{MAX_COLS}}
                                </mat-error>
                        </mat-form-field>
                </div>
                <mat-checkbox formControlName="isVisualizeOn">Visualize</mat-checkbox>
                <div style="font-size:0.45em">Move slider below to introduce delay in milliseconds</div>
                <mat-slider style="width: 100%"
                        [disabled]="!toolForm.controls['isVisualizeOn'].value"
                        [max]="1000"
                        [min]="30"
                        [step]="10"
                        [thumbLabel]="true"
                        formControlName="visualDelay"
                        >
                </mat-slider>
                <mat-divider></mat-divider>
        </form>
        <div style="padding-top: 10px;display: flex; flex-direction: column; justify-content: flex-start; align-items: center;">
                <div>Step 1: <button mat-stroked-button color="primary" [ngClass]="{'buttonSelected': (boxAction == 'START')}" (click)="setBoxAction('START')">Pick Start Box - {{boxAction == 'START'?'ON':'OFF'}}</button></div>
                <div>Step 2: <button mat-stroked-button color="primary" [ngClass]="{'buttonSelected':  (boxAction == 'DESTINATION')}" (click)="setBoxAction('DESTINATION')">Pick Destination Box - {{boxAction == 'DESTINATION'?'ON':'OFF'}}</button></div>
                <div>Step 3: <button mat-stroked-button color="primary" [ngClass]="{'buttonSelected':  (boxAction == 'BLOCKER')}" (click)="setBoxAction('BLOCKER')">Toggle Draw Blockers - {{boxAction == 'BLOCKER'?'ON':'OFF'}}</button></div>
                <div>Step 4: <div style="display: flex; flex-direction: column;">
                                <div>
                                        <button mat-flat-button style="margin:5px" color="primary" (click)="findShortestPath()">Find Path</button>
                                        <button mat-flat-button style="margin:5px" color="accent" (click)="resetPage()">Reset All</button>
                                </div>
                                
                        </div>
                </div>
        </div>
    </mat-card>
    <div class="gridContainer">
        <mat-error *ngIf="toolForm.controls['startNode'].invalid || toolForm.controls['destNode'].invalid">
                Please pick Start and Destination box.
        </mat-error>
        <div *ngFor="let row of gridRows" class="rowDiv">
            <box  *ngFor="let col of gridCols" [node]="gridArr[row][col]" [visited]="gridArr[row][col].isVisited" [boxAction]="boxAction" (pageAction)="pageAction($event)"></box>
        </div>
    </div>
</div>